.btn-toggle{
    width: 60px;
    height:60px;
    outline: none;
    display: flex;
    text-align: center;
    justify-content: center;
	align-items: center;
}
.btn-toggle:hover{
    cursor: pointer;
}
.fas{
    font-size: 3.3rem;
}

@media screen and (max-width: 768px) {
    .fas{
        font-size: 2rem;
    }
}