
.content-title{
    padding: 2rem;
    font-size: 2.1rem;
    letter-spacing: .3rem;
    font-weight: 700;
}

.content-text{
    text-align: justify;
    padding: 3rem;
    padding : 2rem 10vw;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
}

