.navbar {
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 4rem;
	width: 100%;
    z-index: 3;
    background-color: transparent;
}
.navbar-logo {
	color: rgb(182, 182, 182);
    font-size: 3.3rem;
    letter-spacing: .18rem;
    text-transform: uppercase;
    justify-self: start;
    display: flex;
    align-items: center;
	transition: 0.7s;
	font-weight:bolder;
}
.nav-links {
	display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap:12px;
    text-align: center;
    justify-content: center;
	align-items: center;
}
.nav-link{
    font-size: 1.6rem;
	margin-left: 5rem;
	color: rgb(151, 151, 151);
    letter-spacing: .18rem;
	transition: 0.7s;
}
.nav-link:hover{
    color: rgb(122, 121, 121);
    cursor: pointer;
	transition: 0.5s;
}
.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}
@media screen and (max-width:768px){
	.navbar {
		position: relative;
	}
	.nav-links {
        position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		top: 2.5rem;
		left: -100%;
		transition: 0.6s all;
	}
	.nav-links.active {
		left: 0;
	}
	.nav-icon {
		display: flex;
		justify-content: center;
		align-self: left;
	}
}

